<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
    <style>
.box{
margin:0 auto;
width:600px //you can set it in %.
padding:20px;
background:lightblue;
border:2px solid #333;
}
    </style>
<body>
<div class="box">
<div class="container">
  <h2>Delete a Mobiliser</h2><br><br>
  <form action="{{url_for('delmobiliser')}}">
    <div class="form-group">
        <label for="name"><b>Name</b></label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <input type="name" id="name" placeholder="Mobiliser name" name="name" required><br><br>
    </div>
      <div class="form-group">
    <label for="phone"><b>Enter a phone number:</b></label>&emsp;
  <input type="tel" id="phone" name="phone" placeholder="123-45-678"  required><br><br>
    </div >
     <div class="form-group">
    <label for="cid"><b>Enter Center-ID</b></label>&emsp;&emsp;&emsp;&emsp;&emsp;
  <input type="number" id="cid" name="cid" placeholder="Mobiliser Center-Id"  required><br><br>
    </div >

       <div class="form-group">
    <label for="tar"><b>Enter Target</b></label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  <input type="number" id="tar" name="tar" placeholder="Target for mobiliser" required><br><br>
    </div >


    <button type="submit" class="btn btn-primary">Delete Mobiliser</button>
  </form>
</div>
</div>
</body>
</html>
